* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .backtest {
//   background-image: url("assets/images/maquette.png");
//   background-repeat: no-repeat;
//   background-size: 100%;
//   opacity: 0.75;
// }

body {
  background-color: $white;
  color: $black;
  font-family: $font0;
}

