font-face {
    font-family: 'Amatica_SC';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Amatica_SC.ttf) format('truetype');
  }
  font-face {
    font-family: 'Amstelvar_Alpha';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Amatica_SC.ttf) format('truetype');
  }
  font-face {
    font-family: 'Brandon_Grotesque_light';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Brandon_light.ttf) format('truetype');
  }
  font-face {
    font-family: 'Brandon_Grotesque_reg';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Brandon_reg.ttf) format('truetype');
  }
  font-face {
    font-family: 'Mulish-Light';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Mulish-Light.ttf) format('truetype');
  }
  font-face {
    font-family: 'Mulish-reg';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/Mulish-Regular.ttf) format('truetype');
  }
  font-face {
    font-family: 'Mulish-v10-latin-500';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/mulish-v10-latin-500.ttf) format('truetype');
  }
  font-face {
    font-family: 'Mulish-v10-latin-700';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/mulish-v10-latin-700.ttf) format('truetype');
  }
  font-face {
    font-family: 'Mulish-v10-latin-800';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/mulish-v10-latin-800.ttf) format('truetype');
  }
  font-face {
    font-family: 'Mulish-v10-latin-900';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/mulish-v10-latin-900.ttf) format('truetype');
  }
