
$white: #ffffff;
$black: #000000;

$fontSizeDef: 1rem;
$fontSizeH1: 4rem;
$fontSizeH2: 3rem;
$fontSizeH3: 2rem;
$fontSizeH4: 1.5rem;
$fontSizeH5: 1rem;

$font0: Arial, Helvetica, sans-serif;
$fontAmatica: Amatica_SC;
$fontAmstelvar: Amstelvar_Alpha;
$fontBrandon: Brandon_Grotesque_light, Brandon_Grotesque_reg;
$fontMulish: Mulish-reg, Mulish-v10-latin-500, Mulish-v10-latin-700, Mulish-v10-latin-800, Mulish-v10-latin-900;