/* pour le header*/
.header{
    background-color:  #1E8E9D;
    height: 30px;
}
.fa-phone{
    height: 5rem;
    width: 40rem;
    background-color: red;
}
/* 
.r-sociaux{
    align-items: flex-end;
    background-color: red;
    padding-left: 15rem;
  } */